.outer-apartment-flex-card {
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.inner-apartment-flex-card {
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5em;
  margin: 0.5em;
}

.aside-card {
  flex-grow: 1;
  padding: 1em;
  gap: 0.5em;
}

.apartment-description-text {
  width: 500px;
  height: 150px;
  overflow-y: auto;
  padding: .5em;
}

.inner-left-card {
  background-color: ghostwhite;
  border-radius: 15px;
  flex-direction: column;
}

.inner-right-card {
  flex-direction: row;
  justify-content: space-between;
}

.apartment-del-button {
  border-radius: 10px;
  min-width: 100px;
  width: 100%;
}
