.dropdown {
  position: relative;
  display: inline-block;
  background-color: white;
  border-radius: 10px;
}

.dropdown-btn {
  background-color: white;
  border-radius: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  padding: 0.5em;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content-btn {
  width: 100%;
  margin-top: 2px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
